[submodule "preproc/dinov2"]
	path = preproc/dinov2
	url = https://github.com/facebookresearch/dinov2.git
[submodule "preproc/tapnet"]
	path = preproc/tapnet
	url = https://github.com/google-deepmind/tapnet.git
[submodule "core/eval/davis2017-evaluation"]
	path = core/eval/davis2017-evaluation
	url = https://github.com/davisvideochallenge/davis2017-evaluation.git
